<hr/>
<app-Search></app-Search>
<div  style="text-align:left;">
<a [routerLink]="['/login']">Logout</a>&nbsp;|&nbsp;
<a [routerLink]="['/items/add']">Add Item</a>
</div>
<hr/>
<div style="text-align:center;">
<font size="5">Item List</font>
</div>

<hr/>
<div *ngFor="let item of this.itemSrvc.listItems">
		
	<div class="demo-card-wide mdl-card mdl-shadow--2dp cards_comp">
	  <div class="mdl-card__title">
	    <h2 class="mdl-card__title-text">{{item.name}}</h2>
	  </div>
	  <div class="mdl-card__supporting-text"> 
			{{item.description}}		
	  </div>
	  <div class="mdl-card__actions mdl-card--border">
	    <a  style="text-decoration: none" [routerLink]="[item._id]">
	      Get Contact
	    </a> ||

			<button style="height:30px;width:70px" (click)="delete(item._id)">Delete</button>
	  </div>
	 
	</div>
</div>
